<p id="notice"><%= notice %></p>

<h1>Productos comprados:</h1>

<div class="row">
  <div class="col-md-4 mt-4">
      <% @orders.each do |order| %>
        <% if order.sold == true and order.user_id == current_user.id %>
          <% @product = Product.find(order.product_id) %>
          <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= @product.title %></h5>
              <small><%= time_ago_in_words(@product.created_at) %> ago</small>
            </div>
            <p class="mb-1"><%= @product.content %></p>
            <small><%= @product.price %>CLP</small>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>